---
import MainLayout from "@/layouts/MainLayout.astro";
import { actions, isInputError } from "astro:actions";
import PII from "@/components/PII.astro";
import QueryType from "@/components/QueryType.astro";

const result = Astro.getActionResult(actions.request);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
const success = result?.data === undefined ? false : result?.data && !result?.error;

export const prerender = false;
---

<MainLayout
  title="Frontend Mentor | Contact Form"
  description="A contact form challenge from Frontend Mentor."
>
  <main class="relative flex min-h-screen justify-center bg-theme-green-lighter px-4 py-8 sm:pt-31">
    <!-- Success Message -->
    <div
      class="absolute top-2 hidden rounded-xl bg-theme-grey-darker p-6 text-theme-white sm:top-6"
      id="success"
      aria-hidden="true"
    >
      <div class="mb-2 flex flex-row gap-x-2">
        <img src="/icon-success-check.svg" alt="Success!" />
        <h2 class="text-lg text-theme-green-lighter">Message Sent!</h2>
      </div>
      <p class="text-[15px] font-extralight text-theme-green-lighter">
        Thanks for completeting the form. We'll be in touch soon!
      </p>
    </div>

    <!-- Form -->
    <div class="w-85 rounded-2xl bg-theme-white p-6 sm:w-xl sm:p-9 md:w-2xl lg:w-[720px]">
      <h1 class="mb-8 text-3xl font-bold text-theme-grey-darker">Contact Us</h1>
      <form method="post" action={actions.request} data-success={success ? "true" : "false"}>
        <div class="sm:grid sm:grid-cols-2 sm:gap-x-4">
          <div class="mb-6 flex flex-col">
            <PII name="firstName" autocomplete="given-name">First Name</PII>
            {
              inputErrors.firstName && (
                <p class="mt-2 text-sm text-theme-red">{inputErrors.firstName}</p>
              )
            }
          </div>
          <div class="mb-6 flex flex-col">
            <PII name="lastName" autocomplete="family-name">Last Name</PII>
            {
              inputErrors.lastName && (
                <p class="mt-2 text-sm text-theme-red">{inputErrors.lastName}</p>
              )
            }
          </div>
          <div class="mb-6 flex flex-col sm:col-span-2">
            <PII name="emailAddress" autocomplete="email">Email Address</PII>
            {
              inputErrors.emailAddress && (
                <p class="mt-2 text-sm text-theme-red">{inputErrors.emailAddress}</p>
              )
            }
          </div>
        </div>

        <div class="mb-7">
          <fieldset
            transition:persist
            id="query-type"
            class="flex flex-col items-start gap-4 sm:grid sm:grid-cols-2 sm:gap-x-4"
            aria-describedby="query-type-help"
          >
            <legend class="mb-4">Query Type <span class="text-theme-green-medium">*</span></legend>
            <p id="query-type-help" class="sr-only">
              Choose an option. Use arrow keys to navigate.
            </p>
            <QueryType uid="general-inquiry" name="type">General Inquiry</QueryType>
            <QueryType uid="support-request" name="type">Support Request</QueryType>
          </fieldset>
          {
            inputErrors.type && (
              <p class="mt-2 text-sm text-theme-red" id="query-type-error">
                {inputErrors.type}
              </p>
            )
          }
        </div>

        <div class="mb-8 flex flex-col">
          <label for="message" class="mb-2"
            >Message <span class="text-theme-green-medium">*</span></label
          >
          <textarea
            transition:persist
            name="message"
            id="message"
            class="h-60 resize-none rounded-lg border border-theme-grey-medium px-4 py-2 hover:cursor-pointer focus:border-theme-green-medium focus:outline-none sm:h-24"
            aria-required="true"></textarea>
          {inputErrors.message && <p class="mt-2 text-sm text-theme-red">{inputErrors.message}</p>}
        </div>
        <div class="mb-10">
          <div class="flex items-center gap-x-5">
            <input
              transition:persist
              type="checkbox"
              id="consent"
              name="consent"
              class="size-5 border-theme-grey-medium checked:h-4 checked:appearance-none checked:border-none checked:bg-[url('/icon-checkbox-check.svg')] checked:bg-center sm:size-4"
              aria-required="true"
            />
            <label for="consent"
              >I consent to being contacted by the team <span class="text-theme-green-medium"
                >*</span
              ></label
            >
          </div>
          {inputErrors.consent && <p class="mt-2 text-sm text-theme-red">{inputErrors.consent}</p>}
        </div>

        <button
          class="w-full rounded-lg bg-theme-green-medium py-4 text-lg text-theme-white hover:cursor-pointer hover:bg-theme-grey-darker"
          id="submit">Submit</button
        >
      </form>
    </div>
  </main>
</MainLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    // Elements
    const form = document.querySelector("form") as HTMLFormElement;
    const piiInputs = document.querySelectorAll("input[type='text']");
    const fieldset = document.getElementById("query-type") as HTMLElement;
    const radioButtons: NodeListOf<HTMLElement> = document.querySelectorAll("input[type='radio']");
    const textarea = document.getElementById("message") as HTMLTextAreaElement;
    const consentInput = document.getElementById("consent") as HTMLInputElement;

    // Handle successful form submission
    const successValue = form?.getAttribute("data-success");
    if (successValue === "true") {
      radioButtons.forEach((radioButton) => {
        const inquiryDiv = document.getElementById(radioButton.id)?.parentElement?.parentElement;
        inquiryDiv?.classList.remove("bg-theme-green-lighter");
      });
      const successDiv = document.getElementById("success");
      if (successDiv) {
        successDiv.classList.remove("hidden");
        successDiv.removeAttribute("aria-hidden");
        successDiv.setAttribute("aria-live", "polite");
        setTimeout(() => {
          successDiv.classList.add("hidden");
          successDiv.removeAttribute("aria-live");
          successDiv.setAttribute("aria-hidden", "true");
        }, 5000);
      }
      form.reset();
    }

    // Set background color of the selected radio button when clicked and remove background color of the other radio buttons
    const handleRadioButtonClick = (id: string) => {
      radioButtons.forEach((radioButton) => {
        const inquiryDiv = document.getElementById(radioButton.id)?.parentElement?.parentElement;
        if (radioButton.id === id) {
          inquiryDiv?.classList.add("bg-theme-green-lighter");
        } else {
          inquiryDiv?.classList.remove("bg-theme-green-lighter");
        }
      });
    };

    // Remove error message for PII inputs when they receive value
    (piiInputs as NodeListOf<HTMLInputElement>).forEach((input) => {
      input.addEventListener("input", () => {
        const errorElement = input.parentElement?.querySelector("p");
        if (errorElement) {
          if (input.value.trim() === "") {
            errorElement.classList.remove("hidden");
          } else {
            errorElement.classList.add("hidden");
          }
        }
      });
    });

    // Remove error message for textarea when it receives value
    textarea.addEventListener("input", () => {
      const errorElement = textarea.parentElement?.querySelector("p");
      if (errorElement) {
        if (textarea.value.trim() !== "") {
          errorElement.classList.add("hidden");
        } else {
          errorElement.classList.remove("hidden");
        }
      }
    });

    // Remove error message for consent input when it receives value
    consentInput.addEventListener("change", () => {
      const errorElement = consentInput.parentElement?.parentElement?.querySelector("p");
      if (errorElement) {
        errorElement.classList.add("hidden");
      }
    });

    // Add event listener to the radio buttons
    // Remove error message for fieldset when radio button is clicked
    radioButtons.forEach((radioButton) => {
      radioButton.addEventListener("click", (event) => {
        const target: HTMLElement = event.target as HTMLElement;
        handleRadioButtonClick(target.id);

        const errorElement = fieldset.parentElement?.querySelector("#query-type-error");
        if (errorElement) {
          errorElement.classList.add("hidden");
        }
      });
    });

    // Upon focus of the "Query Type" fieldset, set the background color of the first radio button and check it
    const firstRadioButton = document.getElementById("general-inquiry") as HTMLInputElement;
    fieldset.addEventListener(
      "focus",
      () => {
        const inquiryDiv = document.getElementById(firstRadioButton.id)?.parentElement
          ?.parentElement;
        inquiryDiv?.classList.add("bg-theme-green-lighter");
        firstRadioButton.checked = true;
      },
      true,
    );
  });
</script>
